$sideBarWidth: 180px;

.body {
  display: flex;
  // align-items: flex-start;
}

.navContainer {
  text-align: left;
  // padding: 14px 0;
  // position: fixed;
  // z-index: 1;
  // background-color: wheat;
  // height: 100vh;
}

.sidebar {
  
  &:global(.ui.sidebar) {
    background-color: $color-grey-light;
  }

  &:global(.ui.sidebar.visible) {
    width: $sideBarWidth;
    transition: none;
  }
}

.content {
  padding: $gap-double $gap-single 160px;
  overflow-y: auto;
  max-height: calc(100vh - 64px);
}

@media screen and (min-width: 900px) {
  .content {
    padding-left: $sideBarWidth + 20px;
    width: 100%;
    max-height: calc(100vh - 100px);
  }

  .navContainer {
    // position: initial;
    // z-index: 0;
    // margin-top: 5px;
    // background-color: wheat;
  }
}
