.root {
  &[data-copy-button] {
    position: relative;
  }
}

.copyButton {
  position: absolute;
  top: pxToRem(-24);
}

.copyButtonWrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 4px;
}
