// @import "../../node_modules/semantic-ui-css/semantic.min.css";
@import "./reset.scss";
@import "./variables.scss";

:root {
  font-size: 16px;
  line-height: 20px;
}

body {
  font-size: 1rem;

  background-clip: padding-box;
  border-top: 62px solid transparent;
  margin-top: -62px;
}

section + section {
  margin-top: $gap-quadruple;
  
  &[data-fragment-offset] {
    margin-top: calc($gap-quadruple - $header-offset);
    padding-top: $header-offset;
  }
}

ul {
  margin: $gap-half 0;
  margin-left: $gap-quarter;
  list-style-type: none;
  padding-inline-start: $gap-quarter;
}

li {
  margin: $gap-quarter;
  margin-right: 0;
}

p {
  margin: $gap-single 0;
}

strong, .invalid, [aria-invalid] {
  color: $color-red;
  font-weight: normal;
}

[aria-invalid] {
  border-color: $color-red;
  outline-color: $color-red;
}

[data-indent] {
  margin-left: $gap-single;
}

input {
  margin-left: 0.5rem;
}

::before {

}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: left;
}
