$gap-quarter: 4px;
$gap-half: 8px;
$gap-single: 16px;
$gap-double: 32px;
$gap-quadruple: 64px;

$header-offset: 128px;

$color-white: #ffffff;
$color-black: #000000;
$color-blue: #4183c4;
$color-grey-light: #ecf0f1;
$color-grey: #7f8c8d;
$color-orange: #e67e22;
$color-red: #c0392b;