.root:global(.ui) {
  height: 64px;
  background-color: $color-white;
  border-bottom: $gap-half solid $color-red;
  display: flex;
  margin: 0;
  padding: $gap-half;
  position: sticky;
  top: 0;
  z-index: 1;

  button:global(.ui) {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    margin-right: 0.5rem;
    line-height: 0;
    padding: 0 0.5rem;
    height: 2.25rem;
  }

  @media screen and (min-width: 900px) {
    padding: $gap-single;
    height: 100px;
  }
}

.title {
  font-size: 1rem;
  line-height: 1rem;

  a {
    color: $color-black;
  }

  @media screen and (min-width: 600px) {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  @media screen and (min-width: 900px) {
    font-size: 2rem;
    line-height: 2rem;
  }
}

.description {
  color: $color-grey;

  font-size: 0.75rem;
  line-height: 0.75rem;
  padding-top: 0;

  @media screen and (min-width: 900px) {
    font-size: 1rem;
    line-height: 1rem;
  }
  @media screen and (min-width: 900px) {
    padding-top: 0.5rem;
  }
}
